doctype html
html(lang='en' ng-app="vvida")
  head
    link(rel='icon', href='images/favicon.ico')
    include shared/head
  body
    div(vvida-preloader).overlay-preloader
      div.center
        img.clear-loading.preloader-img.blink(ng-src='images/logo-white.png')
    include shared/header
    md-content.main-md-content(flex)
      div(ui-view flex)
      footer
        include shared/footer

