doctype html
html(lang='en' ng-app="vvida")
  head
    link(rel='icon', href='images/favicon.ico')
    include shared/head
  body
    include shared/header
    md-content.main-md-content(flex)
      div(ui-view flex)
      footer
        include shared/footer