doctype html
html(lang='en' ng-app="vvida")
  head
    link(rel='icon', href='images/favicon.ico')
    include shared/head
  body
    main
      include shared/header
      md-content(ui-view)
  footer
    include shared/footer