md-toolbar.navbar.header-spacing(ng-controller="HeaderCtrl" layout="row" layout-align="center center")
  .md-toolbar-tools
    md-button.button-drawer.md-icon-button(show-sm hide-gt-sm ng-click="openLeftMenu()" aria-label="openLeftMenu" md-no-ink)
      i.fa.fa-bars.fa-2x
    a(ui-sref="home" hide-sm)
      img(src="images/logo-white.png" height="24")
    event-autocomplete-searchbar(placeholder="Search vvida...", ng-if="showSearch")
    span(flex)
    a.home-menu(ng-class="{activeClass : activeClass === menuItem.name}" ng-click="focusSection(menuItem.name)" ng-repeat="menuItem in menu" ui-sref="{{menuItem.state}}" ui-sref-active="active" hide-sm)
      md-button(md-no-ink)
        | {{menuItem.name}}
    md-menu(ng-if="currentUser")
      md-button.md-icon-button.icon-button(aria-label="Menu" ng-click="$mdOpenMenu($event)")
        img(ng-src="{{currentUser.img_url}}")
      md-menu-content(width="4")
        md-menu-item
          md-button(ui-sref="userProfile({id:currentUser.id})" ui-sref-opts="{reload:true}" aria-label="Profile")
            i.fa.fa-user
            span My profile
        md-menu-item
          md-button(ng-click="logout()" aria-label="Sign out")
            i.fa.fa-sign-out
            span Logout
    md-button.md-raised.md-primary.md-hue-2(ng-if="!currentUser" ui-sref="login")
      span Login
      
md-sidenav.md-sidenav-left(md-component-id="left" hide-gt-sm)
  md-toolbar.md-accent
    h1.md-toolbar-tools
      a(ui-sref="home")
        img(src="images/logo.png" height="16")
        span.text-color.white &nbsp;Vvida
  md-content.sidenav-contents
    md-button.menu-button(ng-repeat="menuItem in menu" ui-sref="{{menuItem.state}}" ng-click="closeLeftMenu()") {{menuItem.name}}
