div.md-margin(layout='column' flex='90')
  .md-padding(layout='column' layout-align='center center')
    form(method='post' ng-submit='editProfile()' flex layout='column')
      md-card.md-padding.md-padding(flex class="profile-form")
        p
          | Account
        span Change your profile picture
          br
          hr
        div(layout='column' flex)
        .md-toolbar-tools-bottom.inset.md-padding(layout='column' class="picture-upload")
            img(class='upload-profile-pic' ng-src='{{currentUser.img_url}}')
        div(class= 'md-padding' 'upload-div' layout='column' layout-align='start center' flex)          
          .file-input-wrapper
            label.file-input-button.md-raised(for="upload-file") Upload
            input#upload-file(type="file" name="image" nv-file-select="" uploader='uploader' ng-click='uploader.clearQueue()')
            div(layout='column' layout-align='center center' ng-repeat='item in uploader.queue')
              div(ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }")
              md-subheadr {{ item.file.name }}
                i.fa.fa.cloud-upload
                | Upload
            br
            div(ng-init="showToast() && uploader.clearQueue()" ng-if="uploader.progress === 100 && !uploader.isUploading")
            .md-padding(layout='row' layout-align='center end' flex layout-sm='column')
              md-button.md-raised.md-primary(ng-click='uploader.uploadAll()', ng-disabled='!uploader.getNotUploadedItems().length && uploader.isUploading' class="save-button" flex)
                i.fa.fa-check-circle-o
                | Save
        br
        div(layout='row' layout-align='center center')
        span Change your basic information
          br
          hr
        md-content
          md-icon(class='fa fa-user-secret')
          input(name="input" ng-model='userData.username' type='text' placeholder='Username' ng-required='true')
        md-input-container
            md-icon(class='fa fa-user')
            input(ng-model='userData.name' type='text' placeholder='Names' ng-required='true')
        div(layout='row' layout-sm='column')
          md-input-container(flex)
            md-icon(class='fa fa-building')
            input(ng-model='userData.city' type='text' placeholder='City' ng-required='true')
          md-datepicker.datepicker(md-placeholder='Date of Birth' ng-model='userData.dob' class="date" aria-label='Date of Birth')
        div(layout='row' style='margin-left: 10px' layout-sm='column')
          md-input-container(layout='row' layout-align='center center' flex)
            md-icon(class='fa fa-globe')
            md-select.md-padding.md-margin(placeholder='Country' ng-model='userData.country' aria-label='Country' flex)
              md-option(ng-repeat='country in countries' ng-value='country.name') {{country.name}}
          md-input-container(layout='row' layout-align='center center' flex)
            md-icon(class='fa fa-venus-mars')
            md-select.md-padding.md-margin(placeholder='Gender' ng-model='userData.gender' aria-label='Gender' flex)
              md-option(ng-repeat='type in gender' ng-value='type.type') {{type.type}}
        p {{message}}
        #update-user-data(layout='row' flex layout-align='center end')
          md-button.md-raised.button.md-primary
            md-icon(class='fa fa-check-cirle-o')
            | Save