.edit-profile-wrapper
  header
    h3
      | Account
    span Change your profile picture
    hr
  section.profile-wrapper
    .profile-pix
      img(ng-src="{{currentUser.img_url}}" alt="profile" class="update-profile-pic")
    .action-buttons
      label.file-input-button.md-raised(for="upload-file" class="fa fa-cloud-upload") Upload
      input#upload-file(type="file" name="image" nv-file-select="" uploader='uploader' ng-click='uploader.clearQueue()')
      div(layout='column' layout-align='center center' ng-repeat='item in uploader.queue')
        div(ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }")
        md-subheadr {{ item.file.name }}
      div(ng-init="showToast() && uploader.clearQueue()" ng-if="uploader.progress === 100 && !uploader.isUploading")
      md-button.save-button.md-raised(ng-click='uploader.uploadAll()', ng-disabled='!uploader.getNotUploadedItems().length && uploader.isUploading' class="save-button" flex)
        i.fa.fa-check-circle-o
        | Save
  section
    p.change-info
      | Change your basic information
      hr
    form
      .group
        label(for='username')
          | Username
        input#username(type='text', ng-model='userData.username' name='input' placeholder='sheyoo')
      .group
        label(for='name')
          | Name
        input#name(type='text', ng-model='userData.name' name='name' placeholder='Adekoya Seyi')
      .group
        label(for='city')
          | City
        input#city(type='text', ng-model='userData.city' name='city' placeholder='Lagos')
      .group
        label(for='country')
          | Country
        select(type='text', name='country' ng-model='userData.country' placeholder='Country')
          option(ng-repeat='country in countries' ng-value='country.name') {{country.name}}
      .group
        label(for='birthday')
          | Birthday
        input#birthday(type='date', ng-model='userData.dob' class="date" aria-label='Date of Birth' name='birthday' md-placeholder='Date of Birth')
      .group
        label(for='gender')
          | Gender
        select(type='text', name='gender' ng-model='userData.gender' placeholder='Gender' aria-label='Gender')
          option(ng-repeat='type in gender' ng-value='type.type') {{type.type}}
    p {{message}}
    #update-user-data(layout='row' flex layout-align='center end')
      md-button.md-raised.save-button
        i.fa.fa-check-circle-o
        | Save
