md-card.jumbotron.search-jumbotron
  .jumbotron-image.md-card-image
    .image-overlay
      .search(layout="column" layout-margin layout-align="center center")
        p.jumbotron-word Find exciting events to attend and new places to visit
        .search-div(layout="row" flex)
          event-autocomplete-searchbar(placeholder="Find any event")
          md-button.md-raised.md-accent(id="search", ng-click="goToSearchPage(searchText)") Search

.sections(layout="column" flex-xs flex-gt-xs="50")
  div.eventsHeader
    span Events
  div.tabCards(ng-if="events.length > 0" layout="row" layout-sm="column" flex  layout-align="start center")
   vvida-card(ng-repeat="event in events | limitTo : 3" flex flex-md="45" flex-gt-md="{{events.length > 0? \"\": \"25\"}}" events="event").eventcards
div.seperateFooter
