div.full
div.dim
  div.center-div
    form(method="post" ng-submit="login()")
      div.form-div
        span Sign in to Vvida
      div.form-div
        input(placeholder="Email" ng-model="user.email" type="email" ng-required="true").log-sign-input
      div.form-div
        input(placeholder="Password" ng-model="user.password" type="password").log-sign-input
      div.form-div
        md-button.md-raised.log-sign-button(type="submit") Log In
    div.left-pad
      md-button.md-raised.md-accent.media-button.fb(aria-label="Facebook" ng-click="facebook()") Facebook
      md-button.md-raised.md-accent.media-button.google(aria-label="Google" ng-click="google()") Google+
    div.form-div
      span Dont' have an account ?
      a(ui-sref="signup") Sign Up
